* {
  font-family: Helvetica;
}

#header {
  background-image: url("../resources/the-flatiron-building.png");
}

.linknav {
  color: white;
}

#title {
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#vertical {
  font-size: 18px;
  color: white;
  list-style-type: none;
  text-align: center;
}

#process {
  text-align: center;
}

.subtitle1 {
  font-size: 32px;
  font-weight: bold;
}

.subtitle2 {
  font-size: 23px;
  font-weight: bold;
}

.text {
  font-size: 14px;
}

.image {
  text-align: center;
}

#subtitlewhite {
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align:center;
  background-image: url("../resources/the-flatiron-building.png");
}

#work, #team, #contact {
  text-align: center;
}

#foot {
  background-color: dimgray;
}

#copyright {
  font-size: 11px;
  color: white;
  display: inline;
}

#footnav {
  list-style-type: none;
  padding-left: 0px;
}

#navhor {
  display: inline-block;
}

.linavhor {
  display: inline;
}
